---
import "../styles/body.css";
import "../styles/fonts.css";
import Navbar from "../components/navbar.astro";
import Panel from "../components/panel.astro";
import Buy from "../components/buy.astro";
import "../styles/app.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/logo.png" />
		<link rel="icon" href="/logo.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Quick | En segundos</title>
		<meta name="description" content="Pide, disfruta, repite." />
		<!-- Open Graph (WhatsApp, Discord, Facebook) -->
		<meta property="og:title" content="Quick." />
		<meta property="og:description" content="Pide, disfruta, repite." />
		<meta property="og:image" content="/preview.png" />
		<meta property="og:url" content="https://quick-1g5.pages.dev" />
		<meta property="og:type" content="website" />
		<!-- Twitter -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Quick." />
		<meta name="twitter:description" content="Pide, disfruta, repite." />
		<meta name="twitter:image" content="/preview.png" />
	</head>
	<body>
		<div class="bg"></div>
		<!-- navbar component -->
		<Navbar />
		<div class="app">
			<div class="slider">
				<Panel />
				<Buy />
			</div>
		</div>
	</body>

	<script>
	const slider = document.querySelector(".slider") as HTMLElement | null;
	const priceBoxes = document.querySelectorAll(".price-box");

	let startX = 0;
	let currentX = 0;
	let isDragging = false;
	let baseTranslate = 0;

	const threshold = window.innerWidth * 0.2;

	if (slider) {
		priceBoxes.forEach(box => {
		box.addEventListener("click", () => {
			slider.classList.add("to-buy");
		});
		});
	}

	if (slider) {
		slider.addEventListener("touchstart", start);
		slider.addEventListener("touchmove", move);
		slider.addEventListener("touchend", end);

		slider.addEventListener("mousedown", start);
		slider.addEventListener("mousemove", move);
		slider.addEventListener("mouseup", end);
		slider.addEventListener("mouseleave", end);
	}

	function getX(e: MouseEvent | TouchEvent) {
		return "touches" in e
		? e.touches[0].clientX
		: e.clientX;
	}

	function start(e: MouseEvent | TouchEvent) {
	if (!slider) return;

	isDragging = true;
	startX = getX(e);

	baseTranslate = slider.classList.contains("to-buy")
		? -window.innerWidth
		: 0;

	slider.style.transition = "none";
	}

	function move(e: MouseEvent | TouchEvent) {
	if (!isDragging || !slider) return;

	currentX = getX(e);
	const diff = currentX - startX;

	slider.style.transform = `translateX(${baseTranslate + diff}px)`;
	}

	function end() {
	if (!isDragging || !slider) return;

	isDragging = false;
	slider.style.transition = "transform 0.3s ease";

	const diff = currentX - startX;
	const total = baseTranslate + diff;

	const limit = -window.innerWidth * 0.3;

	if (total < limit) {
		slider.classList.add("to-buy");
	}

	else {
		slider.classList.remove("to-buy");
	}

	slider.style.transform = "";
	}
	</script>

	<script>
		const priceBoxes = document.querySelectorAll(".price-box") as NodeListOf<HTMLElement>;

		const formTitle = document.getElementById("form-title");

		const selectedProductInput =
			document.getElementById("selected-product") as HTMLInputElement;

		const productPriceInput =
			document.getElementById("product-price") as HTMLInputElement;

		const quantityInput =
			document.getElementById("quantity") as HTMLInputElement;

		const totalInput =
			document.getElementById("total") as HTMLInputElement;

		const extraProductSelect =
			document.getElementById("extra-product") as HTMLSelectElement;

		const extraSubtotalInput =
			document.getElementById("extra-subtotal") as HTMLInputElement;

		const extraQuantityInput =
			document.getElementById("extra-quantity") as HTMLInputElement;

		if (
			!formTitle ||
			!quantityInput ||
			!totalInput ||
			!selectedProductInput ||
			!productPriceInput
		) {
			throw new Error("Missing elements in DOM");
		}

		if (extraProductSelect) {
			priceBoxes.forEach(box => {
				const name = box.dataset.product;
				const price = box.dataset.price;

				if (!name) return;

				const option = document.createElement("option");

				option.value = name;
				option.textContent = name;
				option.dataset.price = price || "0";

				extraProductSelect.appendChild(option);
			});
		}

		window.selectedProduct = {
			name: "",
			price: 0
		};

		priceBoxes.forEach(box => {
			box.addEventListener("click", () => {
				const name = box.dataset.product || "";
				const price = parseFloat(box.dataset.price || "0");

				window.selectedProduct = { name, price };

				formTitle.textContent = "Finaliza tu compra";

				selectedProductInput.value = name;

				quantityInput.value = "1";


				if (extraProductSelect) {
					extraProductSelect.innerHTML =
						'<option value="" selected>Extra</option>';

					priceBoxes.forEach(otherBox => {
						const otherName = otherBox.dataset.product;
						const otherPrice = otherBox.dataset.price;

						if (!otherName || otherName === name) return;

						const option = document.createElement("option");

						option.value = otherName;
						option.textContent = otherName;
						option.dataset.price = otherPrice || "0";

						extraProductSelect.appendChild(option);
					});
				}

				// Reiniciar adicional
				if (extraSubtotalInput) {
					extraSubtotalInput.value = "PEN 0.00";
				}

				if (extraQuantityInput) {
					extraQuantityInput.value = "1";
				}

				updateTotal();
			});
		});

		function updateTotal() {
			const qty = parseInt(quantityInput.value || "1");

			const product = window.selectedProduct;

			const mainSubtotal = qty * product.price;

			if (productPriceInput) {
				productPriceInput.value = `PEN ${mainSubtotal.toFixed(2)}`;
			}

			let extraSubtotal = 0;

			if (extraProductSelect && extraProductSelect.value !== "") {
				const selectedOption =
					extraProductSelect.options[extraProductSelect.selectedIndex];

				const extraPrice =
					parseFloat(selectedOption.dataset.price || "0");

				const extraQty =
					parseInt(extraQuantityInput?.value || "1");

				extraSubtotal = extraPrice * extraQty;
			}

			if (extraSubtotalInput) {
				extraSubtotalInput.value = `PEN ${extraSubtotal.toFixed(2)}`;
			}

			const total = mainSubtotal + extraSubtotal;

			totalInput.value = `PEN ${total.toFixed(2)}`;
		}

		quantityInput.addEventListener("input", updateTotal);
		extraProductSelect?.addEventListener("change", updateTotal);
		extraQuantityInput?.addEventListener("input", updateTotal);
	</script>

	<script>
		document.addEventListener("DOMContentLoaded", () => {
			const form = document.getElementById("buy-form") as HTMLFormElement | null;
			const quantityInput = document.getElementById("quantity") as HTMLInputElement | null;

			if (!form || !quantityInput) {
				console.error("Form o inputs no encontrados");
				return;
			}

  			form.addEventListener("submit", (e) => {
    			e.preventDefault();

    			const selectedProduct = (window as any).selectedProduct;

    			if (!selectedProduct.name) {
      				alert("Selecciona un producto");
     				return;
    			}

				const nameInput = form.querySelector('input[type="text"]') as HTMLInputElement;
				const locationSelect = document.getElementById("location") as HTMLSelectElement;
				const paymentSelect = document.getElementById("payment") as HTMLSelectElement;
				const phoneInput = form.querySelector('input[type="tel"]') as HTMLInputElement;

				const name = nameInput.value;
				const location = locationSelect.value;
				const quantity = Number(quantityInput.value);
				const phone = phoneInput.value;
				const payment = paymentSelect.value;

				const extraProductSelect =
					document.getElementById("extra-product") as HTMLSelectElement;

				const extraQuantityInput =
					document.getElementById("extra-quantity") as HTMLInputElement;

				let extraSubtotal = 0;
				let extraProductInfo = "";

				if (extraProductSelect && extraProductSelect.value !== "") {
					const selectedOption =
						extraProductSelect.options[extraProductSelect.selectedIndex];

					const extraPrice =
						parseFloat(selectedOption.dataset.price || "0");

					const extraQty =
						parseInt(extraQuantityInput?.value || "1");

					extraSubtotal = extraPrice * extraQty;

					extraProductInfo = `Producto adicional: ${extraProductSelect.value}
Cantidad adicional: ${extraQty}`;
				}

				const total = (
					(selectedProduct.price * quantity) + extraSubtotal
				).toFixed(2);

				const message = `
Nuevo pedido:
Producto: ${selectedProduct.name}
Cantidad: ${quantity}
${extraProductInfo}
Total: PEN ${total}
Ubicación: ${location}
Pago: ${payment}
Cliente: ${name}
Celular: ${phone}`;

    			const url = `https://wa.me/51907813648?text=${encodeURIComponent(message)}`;

    			window.open(url, "_blank");

				setTimeout(() => {
					window.location.reload();
				}, 500);
  			});
		});
	</script>

</html>
